opentelemetry-distro
opentelemetry-exporter-otlp
setuptools

opentelemetry-instrumentation-aio-pika
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-aiohttp-server
opentelemetry-instrumentation-aiokafka
opentelemetry-instrumentation-aiopg
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-asyncclick
opentelemetry-instrumentation-asyncio
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-aws-lambda
opentelemetry-instrumentation-boto3sqs
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-cassandra
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-click
opentelemetry-instrumentation-confluent-kafka
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-django
opentelemetry-instrumentation-elasticsearch
opentelemetry-instrumentation-falcon
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-kafka-python
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-mysqlclient
opentelemetry-instrumentation-pika
opentelemetry-instrumentation-psycopg
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-pymemcache
opentelemetry-instrumentation-pymongo
opentelemetry-instrumentation-pymssql
opentelemetry-instrumentation-pymysql
opentelemetry-instrumentation-pyramid
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-remoulade
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-sqlite3
opentelemetry-instrumentation-starlette
opentelemetry-instrumentation-system-metrics
opentelemetry-instrumentation-threading
opentelemetry-instrumentation-tornado
opentelemetry-instrumentation-tortoiseorm
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-wsgi